body {font-family: arial, sans-serif}
nav {
    font-weight: bold;
    color: blueviolet;
    border: 2px solid RoyalBlue;
    text-align: center;
    width: 10em;
    background-color: white;
}
nav ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav:hover ul {display: block;}
nav ul li {
    border-top: 2px solid RoyalBlue;
    background-color: violet;
    width: 10em;
    color: white; 
}
nav ul li:hover {background-color: lightskyblue;}
a {text-decoration: none; }
   